:root {
  --text-color: #fff;
  --btn-color: #d52f2b;
  --primary-color: #236d9d;
  --link-color: #131212;
  --head-color: #111111;
}
* {
  box-sizing: border-box;
}
p {
  font-family: 'Mandali', sans-serif;
}
h1 h2 h3 h4 h5 h6 {
  font-family: 'Gurajada', sans-serif;
}
body {
  font-family: 'Open+Sans', sans-serif;
  line-height: 1;
  height: 100%;
  overflow-x: hidden;
  cursor: url('../img/cursor.jpeg'), auto;
}


/* body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../img/cursor.jpeg') center center no-repeat;
  background-size: 50px; Adjust the size based on your preference
  filter: blur(10px); Adjust the blur radius based on your preference
  pointer-events: none; Allows clicks to pass through the pseudo-element
} */
header {
  background-color: var(--text-color);
  position: fixed;
  width: 100%;
  opacity: 0.9;
  top: 0;
  left: 0;
  z-index: 2;
  height: 4.5rem;
}
nav {
  display: flex;
}
aside {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.hide-on-desktop {
  display: none;
}
.hide-on-desktop a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}
.line {
  display: none;
}
.container {
  padding: 0;
}
#top-nav {
  display: flex;
  justify-content: space-between;
}
.top-nav-img {
  height: auto;
  margin-left: 20px;
}
.top-nav-link {
  display: flex;
  width: 70%;
}
.top-nav-link ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.top-nav-link li {
  color: black;
  font-size: 1em;
  font-weight: 550;
}
.top-nav-link li:hover,
.top-nav-link li:active {
  color: var(--primary-color);
}
.top-nav-social {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: space-between;
  font-size: 1.4em;
  color: black;
}
.logo {
  height: 4rem;
  float: right;
}
.top-nav-social i {
  color: black;
}
i:hover,
i:active {
  color: var(--primary-color);
}

a {
  text-decoration: none;
}
#active {
  color: var(--primary-color);
}
/* MAIN-HOME-SECTION */
.main-home {
  background-image: url(../img/about\ us\ background.png);
  background-position: center;
  height: 70vh;
  margin-bottom: 100px;
  position: relative;
}
.main-home-text {
  position: absolute;
  left: 40px;
  top: 250px;
}
.main-home-text h1 {
  color: white;
  font-weight: 700;
  font-size: 2rem;
}
.main-home-text p {
  color: white;
  font-size: 2.1rem;
  font-weight: 400;
  max-width: 700px;
  transition: all 0.5s;
  line-height: 1.5;
  letter-spacing: 0.9rem;
}
.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 1.1rem 1rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  border-radius: 3px;
  transition: all 0.2s;
  text-transform: uppercase;
  border: 2px #236d9d;
  background-color: #fff;
  color: #555;
}
/* SLIDER-SECTION */
.slider {
  padding: 50px;
}
.slider-image img {
  width: 70%;
  height: auto;
  margin-left: 50px;
}
.slider-text h1 {
  font-size: 30px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 14px;
}
.slider-text h1 span {
  color: var(--btn-color);
}
.slider-text p {
  line-height: 1.7;
}

/* explore section */
.explore {
  background-color: var(--btn-color);
  height: 320px;
  padding: 150px 100px 0;
}
.explore h1 {
  font-size: 30px;
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: 40px;
}
.vission {
  padding: 0 100px 70px;
  margin-top: -50px;
}
.mission {
  width: 95%;
  padding: 0;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.mission-image {
  overflow: hidden;
  position: relative;
  background-color: #b9b7b7;
}

.mission-image img {
  transition: transform 0.5s;
  transform: scale(1.1);
}

.mission-image:hover img {
  transform: scale(1);
}
.mission-text a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-decoration: none;
}
.mission-text a p:hover {
  color: var(--btn-color);
}
.mission-text a p {
  transition: all 0.3s;
  color: #333;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
  text-transform: capitalize;
}
.mission-text a img {
  width: 60px;
  height: auto;
}
.corporation {
  background-image: url(../img/pexels-pixabay-41949.jpg);
  height: 100vh;
  width: 100%;
  margin-bottom: 30px;
  padding: 100px;
}
.reponsibility {
  background-color: var(--primary-color);
  padding: 20px;
  width: 37%;
  color: var(--text-color);
}
.reponsibility h2 {
  font-weight: 700;
}
.reponsibility p {
  line-height: 2;
}
.reponsibility button {
  padding: 17px 25px;
  color: white;
  font-weight: 700;
  border: 1px solid var(--text-color);
  background-color: transparent;
  transition: all 0.3s;
  font-size: 14px;
  margin-bottom: 40px;
}
.reponsibility button:hover {
  background-color: var(--text-color);
  color: var(--head-color);
}
/* community-section */
.community {
  padding: 100px;
}
.card {
  background-color: #f9f9f9;
  padding: 20px 20px;
  width: 90%;
  height: 500px;
  border: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
  transition: height 0.3s; /* added transition for smooth height change */
}
.animatded-image-zum {
  justify-content: right;
}
.card h4 {
  color: var(--head-color);
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}
.card p {
  line-height: 1.8;
}
.card button {
  padding: 17px 25px;
  color: var(--link-color);
  font-weight: 550;
  border: 1px solid var(--head-color);
  background-color: transparent;
  transition: all 0.3s;
  font-size: 14px;
  margin-bottom: 40px;
}
.card button:hover {
  background-color: var(--head-color);
  color: var(--text-color);
}
/* animated-bacgroun */
.red {
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.background {
  background-image: url('../img/award.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-size 0.2s;
}

.background iframe {
  width: 550px;
  height: 375px;
}

.row.wining {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; 
  margin-bottom: 50px;/* Add padding to the row for spacing */
}

.award h3 {
  color: var(--text-color);
  font-weight: bold;
  font-size: 2em;
}

.award p {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.7;
  max-width: 450px;
}

.award {
  padding-left: 50px; /* Add padding for spacing */
}

.award button {
  padding: 17px 25px;
  color: var(--text-color);
  font-weight: 550;
  border: 1px solid var(--text-color);
  background-color: transparent;
  transition: all 0.3s;
  font-size: 14px;
  margin-top: 20px; /* Adjust margin to create space */
}

.award button:hover {
  background-color: var(--text-color);
  color: var(--head-color);
}

/* empower-SECTION */

.empower {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.empower .imagination h3 {
  color: var(--link-color);
  font-weight: bold;
  font-size: 2em;
}

.empower .imagination p {
  color: var(--head-color);
  font-size: 1rem;
  line-height: 1.7;
  max-width: 500px;
}


.empower .imagination button {
  padding: 17px 25px;
  color: var(--link-color);
  font-weight: 550;
  border: 1px solid var(--head-color);
  background-color: transparent;
  transition: all 0.3s;
  font-size: 14px;
  margin-top: 20px; /* Adjust margin to create space */
}

.empower .imagination button:hover {
  background-color: var(--head-color);
  color: var(--text-color);
}
.photos::after {
  content: "";
  display: block;
  clear: both;
  position: relative;
}
.owl-rubbish::after {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--head-color);
  position: absolute;
  top: 0%;
  left: 0;
  opacity: 0;
  transition: .2s all;
}
.owl-rubbish:hover::after{
  opacity: 0.8;
}


.photos img {
  width: 100%;
  height: 100%;
}
.owl-nav {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 100;  
}

.photos .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
  font-size: 1.6em;
  font-weight: normal;
  text-align: center;
  background-color: var(--head-color);
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  margin-top: 0;
} 
.photos .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev:hover{
  background-color: var(--head-color);
}



/* Media Query for Mobile Devices */


/* mission-section */
.white {
  padding: 100px 20px;
  opacity: 1;
}
.white h1 {
  color: var(--head-color);
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  margin-top: 100px;
}
.quoot {
  margin-top: 50px;
  text-align: center;
}
.quoot i {
  display: block;
  font: 700;
  font-size: 3em;
  color: var(--btn-color);
  margin-bottom: 50px;
}
.white p {
  color: var(--head-color);
  font-weight: 400;
  font-size: 2em;
  text-indent: 20px;
  text-align: center;
  max-width: 80%;
  margin: auto;
  opacity: 1;
}
.white p span {
  color: var(--btn-color);
}
.straight {
  width: 10%;
  background-color: var(--btn-color);
  height: 2px;
  margin: auto;
}
/* dark-section */
.dark {
  padding: 100px 20px 0;
}
.dark h1 {
  color: var(--text-color);
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  margin-top: 100px;
}
.dark .quoot {
  margin-top: 50px;
  text-align: center;
}
.dark .quoot i {
  display: block;
  font: 700;
  font-size: 3em;
  color: var(--text-color);
  margin-bottom: 50px;
}
.dark p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 2em;
  text-indent: 20px;
  text-align: center;
  max-width: 80%;
  margin: auto;
  opacity: 1;
}
.dark p span {
  color: var(--btn-color);
}

.straight-2 {
  width: 10%;
  background-color: var(--text-color);
  height: 2px;
  margin: auto;
}
.back {
  background-image: url('/Brainstorm/img/monitor.jpg');
  background-size: cover;
  background-position: top;
  height: 100vh;
}
.dark {
  background-image: linear-gradient(#000, #000);
  height: inherit;
  opacity: 0.8;
}
.dark button {
  padding: 17px 25px;
  color: white;
  font-weight: 700;
  border: 1px solid var(--text-color);
  background-color: transparent;
  transition: all 0.3s;
  font-size: 13px;
  margin: 40px auto;
  display: block;
}
.dark button:hover {
  color: gray;
}
/* Lern-more */
.learn-more {
  background-color: var(--primary-color);
  padding: 100px 250px 20px;
}
.starting h1 {
  text-align: center;
  color: var(--text-color);
  font-size: 500%;
  font-weight: 700;
  margin-bottom: 15px;
}
.starting p {
  color: var(--head-color);
  text-align: center;
  font-size: 1.2em;
  margin-top: 25px;
  margin-bottom: 55px;
}
.starting p span {
  color: var(--text-color);
}
.space {
  margin-bottom: 50px;
}
.bi {
  display: flex;
}
.IP h5 {
  color: var(--text-color);
  text-align: right;
  font-weight: 600;
}
.IP {
  margin-right: 20px;
}
.IP p {
  text-align: right;
  font-size: 15px;
  color: var(--head-color);
}
.IP h6 {
  text-align: right;
  opacity: 0.7;
  font-size: 0.9em;
  color: var(--btn-color);
}
.serve h5 {
  color: var(--text-color);
  font-weight: 600;
}

.serve p {
  font-size: 15px;
  color: var(--head-color);
}
.serve h6 {
  color: var(--btn-color);
  font-size: 0.9em;
  opacity: 0.7;
}
.icon {
  background-color: var(--btn-color);
  padding: 20px;
  border-radius: 50px;
  height: 70px;
}
.icon i {
  font-size: 1.8em;
  color: var(--text-color);
}
.icon-2 {
  background-color: var(--head-color);
  padding: 20px;
  border-radius: 50px;
  height: 70px;
  margin-right: 20px;
}
.icon-2 i {
  font-size: 1.8em;
  color: var(--text-color);
}

/* SUBSCRIBING TO NEWS LATTER STYLING  */

.subscribe {
  background-color: var(--primary-color);
  height: 15em;
  padding: 30px;
  padding-top: 45px;
  margin-top: 20px;
}
label {
  font-weight: 600;
  color: var(--head-color);
  font-size: 18px;
}
label span {
  color: #d52f2b;
  font-size: 22px;
}
input[type='text'] {
  height: 50px;
  width: 100%;
  padding: 5px;
  margin: 20px auto;
}
input[type='submit'] {
  background-color: var(--btn-color);
  height: 50px;
  width: 120px;
  color: var(--text-color);
  border: none;
  font-weight: 400;
  font-size: 17px;
}
/* footer-section */
footer {
  background-color: var(--head-color);
  padding: 20px;
  margin-bottom: -1px;
}
.divider {
  height: 3px;
  border-radius: 7px;
  width: 150px;
  background-color: #d52f2b;
  margin: 0 auto;
}
#foot {
  color: var(--text-color);
  margin-top: 0.3em;
  font-size: 5rem;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.content h3,
h4 {
  color: var(--text-color);
}
.footer-social {
  margin-bottom: 10px;
}
.contact i {
  padding-left: 10px;
  font-size: 2em;
  /* width: 10px; */
  height: 30px;
  color: var(--text-color);
}
a[type='button'] {
  display: flex;
  align-items: center;
  padding: 20px 25px;
  justify-content: center;
  color: var(--link-color);
  background-color: var(--text-color);
  margin-bottom: 30px;
  border-radius: 7px;
  font-weight: 550;
  text-align: center;
  font-size: 1.5rem;
}
a[type='button']:hover {
  background-color: var(--btn-color);
  color: var(--text-color)
}
hr {
  color: var(--text-color);
  margin: 0;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 90%;
}
.last {
  color: var(--text-color);
  margin-top: 30px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 0.8em;
}
#call {
  color: var(--text-color);
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
#b-email {
  color: var(--text-color);
  font-size: 1.8rem;
  margin-bottom: 18px;
  font-weight: 600;
  margin-top: 5px;
  text-align: center;
}
footer .row {
  margin-top: 5em;
  margin-bottom: 5em;
  padding-left: 4em;
}
.col-12,
.col-sm-3 h5 {
  padding-left: 5px;
}
.col-12 img {
  height: 4rem;
}
.footer-p {
  line-height: 1.5em;
  color: var(--text-color);
}
.col-12,
.col-sm-3 ul {
  list-style: none;
  padding: 0;
  margin-top: 2em;
}
.col-12 li {
  margin-bottom: 0.6em;
  color: var(--text-color);
  padding-left: 8px;
}
#btn-top {
  position: relative;
  top: 20px;
  z-index: 2;
  height: 30px;
  width: 30px;
  margin: 0 auto;
  padding: 4px 0 0;
  background-color: var(--primary-color);
  text-align: center;
}
#btn-top a{
  color: var(--text-color);
  font-size:1.5rem;
  margin:0 auto;
}
#up-arrow{
  font-weight: bold;
}
#up-arrow:hover i:hover{
  color:var(--text-color)
}
@media (max-width: 1100px) {
  .slider-image img {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  .empower {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
  }
  .empower .imagination h3 {
    color: var(--link-color);
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .empower .imagination p {
    color: var(--head-color);
    font-size: 1rem;
    line-height: 1.7;
    max-width: 400px;
  }
  .card {
    background-color: #f9f9f9;
    padding: 20px 20px;
    width: 90%;
    height: 550px;
    border: none;
    /* added transition for smooth height change */
  }
  .background iframe {
    width: 500px;
    height: 375px;
  }
  .community {
    padding: 50px;
  }
  .learn-more {
    background-color: var(--primary-color);
    padding: 40px 50px 20px;
  }
  .starting h1 {
    text-align: center;
    color: var(--text-color);
    font-size: 300%;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .corporation {
    background-image: url(/Brainstorm/img/pexels-pixabay-41949.jpg);
    height: 100vh;
    width: 100%;
    margin-bottom: 30px;
    padding: 100px 2px;
  }
}
@media (max-width: 910px) {
  .slider {
    padding: 20px;
  }
  .corporation {
    background-image: url(/Brainstorm/img/pexels-pixabay-41949.jpg);
    height: 100vh;
    width: 100%;
    margin-bottom: 30px;
    padding: 50px 2px;
  }
  .empower .imagination button {
    padding: 17px 25px;
    color: var(--link-color);
    font-weight: 550;
    border: 1px solid var(--head-color);
    background-color: transparent;
    transition: all 0.3s;
    font-size: 14px;
    margin-top: 10px; /* Adjust margin to create space */
  }
  .empower {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .empower .imagination p {
    color: var(--head-color);
    font-size: 1rem;
    line-height: 1.7;
    max-width: 400px;
  }
  .reponsibility {
    background-color: var(--primary-color);
    padding: 20px;
    width: 50%;
    color: var(--text-color);
  }
  .row.wining {
    flex-direction: column;
  }

  .background iframe {
    width: 100%; /* Set the width to 100% for mobile devices */
    height:  375px;
  }
  .award p {
    max-width: 600px; /* Remove padding for mobile devices */
  }
  .award {
    padding: 0; /* Remove padding for mobile devices */
  }

  .award button {
    margin-top: 10px; /* Adjust margin for mobile devices */
  }
}
@media (max-width: 767px) {
  .top-nav-link {
    position: absolute;
    width: 100%;
  }
  .bi {
    display: block;
  }
  .empower .imagination button {
    padding: 17px 25px;
    color: var(--link-color);
    font-weight: 550;
    border: 1px solid var(--head-color);
    background-color: transparent;
    transition: all 0.3s;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px; /* Adjust margin to create space */
  }
  .empower {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .empower .imagination p {
    color: var(--head-color);
    font-size: 1rem;
    line-height: 1.7;
    max-width: 90%;
  }
  .white h1 {
    color: var(--head-color);
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin-top: 50px;
  }
  .white p {
    color: var(--head-color);
    font-weight: 400;
    font-size: 2em;
    text-indent: 20px;
    text-align: center;
    max-width: 90%;
    margin: auto;
  }

  .straight {
    width: 15%;
    background-color: var(--btn-color);
    height: 2px;
    margin: auto;
  }
  .dark h1 {
    color: var(--text-color);
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin-top: 50px;
  }

  .dark p {
    color: var(--text-color);
    font-weight: 400;
    font-size: 2em;
    text-indent: 20px;
    text-align: center;
    max-width: 90%;
    margin: auto;
  }
  .reponsibility {
    background-color: var(--primary-color);
    padding: 20px;
    width: 100%;
    color: var(--text-color);
  }
  .corporation {
    background-image: url(/Brainstorm/img/pexels-pixabay-41949.jpg);
    height: 80vh;
    width: 100%;
    margin-bottom: 30px;
    padding: 70px 0;
  }
  .slider-image img {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
  }
  .top-nav-link .open {
    right: 0;
    transition: 0.4s;
    padding-top: 10px;
    height: 400px;
  }
  .color {
    background-color: aqua;
    /* transition: 1s; */
  }
  aside {
    justify-content: flex-end;
  }
  .top-nav-link ul {
    display: block;
    list-style: disc;
    padding-left: 16px;
    background-color: aqua;
    position: absolute;
    margin-top: 10px;
    top: 57px;
    right: 800px;
  }
  .top-nav-link li {
    display: flex;
    margin-bottom: 10px;
    height: 40px;
    width: 50%;
    padding-left: 10px;
    align-items: center;
  }
  .top-nav-link li:hover {
    background-color: #555;
  }
  .top-nav-social {
    display: none;
  }
  #top-nav {
    justify-content: space-between;
  }
  .top-nav-img {
    margin-left: 10px;
  }
  .line {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    margin-right: 20px;
  }
  .hide-on-desktop {
    display: flex;
  }
  .context h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1em;
  }
  .divider {
    width: 30%;
  }

  .img-sm {
    height: 200px;
  }
  .img-sm img {
    height: 200px;
  }
  #foot {
    font-size: 3rem;
    text-align: center;
  }
  footer .row {
    padding-left: 9px;
    margin-top: 1rem;
  }
  .white {
    padding: 100px 10px;
  }
}

@media (max-width: 540px) {
  .main-home-text {
    position: absolute;
    left: 40px;
    top: 180px;
  }
  .empower .imagination p {
    color: var(--head-color);
    font-size: 1rem;
    line-height: 1.7;
    max-width: 100%;
  }
  .background iframe {
    width: 100%; /* Set the width to 100% for mobile devices */
    height:  375px;
  }
  .award p {
    max-width: 600px; /* Remove padding for mobile devices */
  }
  .award p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.7;
    max-width: 800px;
  }
  .award h3 {
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.7;
    max-width: 800px;
  }
  .vission {
    padding: 0 40px 70px;
    margin-top: -50px;
  }
  .mission {
    width: 100%;
    padding: 0;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  .explore {
    background-color: var(--btn-color);
    height: 320px;
    padding: 150px 40px 0;
  }
  .white h1 {
    color: var(--head-color);
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
  }
  .white p {
    color: var(--head-color);
    font-weight: 400;
    font-size: 2em;
    text-indent: 20px;
    text-align: center;
    max-width: 100%;
    margin: auto;
  }
  .white {
    padding: 100px 5px;
  }
  .dark h1 {
    color: var(--text-color);
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
  }
  .dark p {
    color: var(--text-color);
    font-weight: 400;
    font-size: 2em;
    text-indent: 20px;
    text-align: center;
    letter-spacing: 1.3;
    max-width: 100%;
    margin: auto;
  }
  .dark {
    padding: 5px 5px 13px;
  }
  .back {
    background-image: url('/Brainstorm/img/monitor.jpg');
    background-size: cover;
    background-position: top;
    height: 65vh;
  }
}
