:root {
    --text-color: #fff;
    --btn-color: #D52F2B;
    --primary-color: #236D9D;
    --link-color: #131212;
    --head-color: #111111;

}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open+Sans", sans-serif;
    line-height: 1;
    height: 100%;
    overflow-x: hidden;
}

header {
    background-color: var(--text-color);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    height: 4.2rem;
}

nav {
    display: flex;
}

aside {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.hide-on-desktop {
    display: none;
}

.hide-on-desktop a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}

.line {
    display: none;
}

.container {
    padding: 0;
}

#top-nav {
    display: flex;
    justify-content: space-between;
}

.top-nav-img {
    height: auto;
    margin-left: 20px;
}

.top-nav-link {
    display: flex;
    width: 70%
}

.top-nav-link ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.top-nav-link li {
    color: black;
    font-size: 1em;
    font-weight: 550;
}

.top-nav-link li:hover,
.top-nav-link li:active {
    color: var(--primary-color);
}

.top-nav-social {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
    font-size: 1.4em;
    color: black;
}

.logo {
    height: 4rem;
    float: right;
}

.top-nav-social i {
    color: black;
}

i:hover,
i:active {
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

#active {
    color: var(--primary-color);
}

main {
    width: 100%;
}

.container {
    margin: 0;
}

.vid-background {
    position: relative;
    width: 100%;
    height: 40rem;
    overflow: hidden;
}

video {
    height: auto;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    top: 70%;
}

#over-vid-btn {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color: whitesmoke;
    border-radius: 6px;
    align-items: center;
    font-size: 1.2em;
    width: 20%;
    height: 40px;
}

.over-vid {
    font-weight: 600;
    color: var(--text-color);
}

.over-vid span {
    color: var(--primary-color);
    font-weight: 600;
}

.context h1 {
    color: var(--head-color);
    font-weight: 700;
    padding-bottom: 0;
    font-size: 3.7rem;
    margin-top: 5rem;
    margin-bottom: 5px;
}

.context p {
    margin-top: 1em;
}

.divider {
    height: 3px;
    border-radius: 7px;
    width: 150px;
    background-color: #D52F2B;
    margin: 0 auto;
}

#moving {
    /* height:100px; */
    padding: 10px;
}

.owl-carousel {
    display: flex;
}

.owl-item1 {
    height: 100%;
    padding-left: 5px;
}

.owl-item1 img {
    height: auto;
    margin: auto;
    /* margin-left: -5px; */
}

#news {
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.news {
    background-color: white;
    border: 1px solid gray;
    width: 30%;
    padding: 10px;
}

.news span {
    position: absolute;
    z-index: 1;
    text-align: center;
    top: 2px;
}

.news span h2 {
    font-weight: 700;
    font-size: 60px;
    margin: 0;
}

.news span h5 {
    font-size: 18px;
    font-weight: 600;
}

.zoom {
    position: relative;
}

.zoom img {
    height: 97%;
    transition: height .2s;
}

.zoom img:hover {
    height: 100%;
}

/* .zoom img:hover{
  width: 100%;
} */ 

.subscribe {
    background-color: var(--primary-color);
    height: 15em;
    padding: 30px;
    padding-top: 45px;
    margin-top: 20px;
}

label {
    font-weight: 600;
    color: var(--head-color);
    font-size: 16px;
}

input[type="text"] {
    height: 45px;
    width: 97%;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px
}

input[type="submit"] {
    background-color: var(--btn-color);
    height: 50px;
    width: 120px;
    color: var(--text-color);
    border: none;
    font-weight: 400;
    font-size: 17px;
}

footer {
    background-color: var(--head-color);
    padding: 20px;
    margin-bottom: -1px;
}

#foot {
    color: var(--text-color);
    margin-top: 0.3em;
    font-size: 5rem;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.content h3,
h4 {
    color: var(--text-color);
}

.footer-social {
    margin-bottom: 10px
}

.contact i {
    padding-left: 10px;
    font-size: 2em;
    /* width: 10px; */
    height: 30px;
    color: var(--text-color);
}

a[type="button"] {
    display: flex;
    align-items: center;
    padding: 20px 25px;
    justify-content: center;
    color: var(--link-color);
    background-color: var(--text-color);
    margin-bottom: 30px;
    border-radius: 7px;
    font-weight: 550;
    text-align: center;
    font-size: 1.5rem;
}

a[type="button"]:hover {
    background-color: var(--btn-color);
}

hr {
    color: var(--text-color);
    margin: 0;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 90%;
}

.last {
    color: var(--text-color);
    margin-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 0.8em;
}

#call {
    color: var(--text-color);
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#b-email {
    color: var(--text-color);
    font-size: 1.8rem;
    margin-bottom: 18px;
    font-weight: 600;
    margin-top: 5px;
    text-align: center;
}

/* =================================img-card============================================================ */ 

#services {
    color: var(--text-black);
    margin-top: 0.3em;
    font-size: 3rem;
    font-weight: 800; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    padding-top: 3rem;
}



.linear {
    height: 0.4em;
    border-radius: 10px; 
    width: 20rem;
    background-color: #D52F2B;
    margin: 0 auto; 
    margin-bottom: 3rem;
}

.img-card{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 0 2rem; 
    margin-top: 1rem; 
    justify-content: center; 
    
}
.img-card div{
    width: 100%;  
    margin-bottom: 2rem;
}
.img-card-div img{
    height: 40vh; 
    width: 100%;
} 

  .img-card button{
    display: block;
    width: 100%;
   border: 2px solid blue;
    background-color: white; 
    color: darkblue;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer; 
    margin-top: 1rem; 
    border-radius: 10px; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

/* ==========================================img-card==================================================== */

footer .row {
    margin-top: 5em;
    margin-bottom: 5em;
    padding-left: 4em;
}

.col-12,
.col-sm-3 h5 {
    padding-left: 5px;
}

.col-12 img {
    height: 4rem;
}

.footer-p {
    line-height: 1.5em;
    color: var(--text-color);
}

.col-12,
.col-sm-3 ul {
    list-style: none;
    padding: 0;
    margin-top: 2em;
}

.col-12 li {
    margin-bottom: 0.6em;
    color: var(--text-color);
    padding-left: 8px;
}

#btn-top {
    position: absolute;
    bottom: 100%;
    right: 50%;
}

/* The media quaries */
/* @media (max-width:){
  .vid-background{
    height: 20rem;
  }
  .overlay{
    top: 20%;
  }
} */
@media (max-width:767px) {
    .top-nav-link {
        position: absolute;
        width: 100%;
    }

    .top-nav-link .open {
        right: 0;
        transition: 0.4s;
        padding-top: 10px;
        height: 400px;
    }

    .color {
        background-color: aqua;
        /* transition: 1s; */
    }

    aside {
        justify-content: flex-end;
    }

    .top-nav-link ul {
        display: block;
        list-style: disc;
        padding-left: 16px;
        background-color: aqua;
        position: absolute;
        margin-top: 10px;
        top: 57px;
        right: 800px;
    }

    .top-nav-link li {
        display: flex;
        margin-bottom: 10px;
        height: 40px;
        width: 50%;
        padding-left: 10px;
        align-items: center;
    }

    .top-nav-link li:hover {
        background-color: #555;

    }

    .top-nav-social {
        display: none;
    }

    #top-nav {
        justify-content: space-between;
    }

    .top-nav-img {
        margin-left: 10px;
    }

    .line {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.8rem;
        margin-right: 20px;
    }

    .hide-on-desktop {
        display: flex;
    }

    .vid-background {
        height: 200px;
    }

    .overlay {
        top: 22%;
    }

    #over-vid-btn {
        width: 45%;
        height: 35px;
        font-weight: 300;
        font-size: 12px;
    }

    .context h1 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 1em;
    }

    .divider {
        width: 30%;
    }

    #news {
        display: block;
        width: 100%;
    }

    .news {
        width: auto;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .img-sm {
        height: 200px;
    }

    .img-sm img {
        height: 200px
    }

    #foot {
        font-size: 3rem;
        text-align: center;
    }

    footer .row {
        padding-left: 9px;
        margin-top: 1rem;
    }

    #call {
        font-size: 1.8rem;
    }

    #b-email {
        font-size: 1.4rem;
    }
}

@media (max-width: 990px) {
    .vid-background {
        height: 25rem;
    }

    #over-vid-btn {
        width: 40%;
    }
}

@media(max-width:540px) {
    .vid-background {
        height: 250px;
    }
}

@media (max-width:250px) {
    #over-vid-btn {
        width: 20%
    }

    .context h1 {
        font-size: 16px;
    }
}

@media (max-width:290px) {
    .vid-background {
        height: 150px;
    }

    #over-vid-btn {
        width: 30%;
        font-weight: 100;
        font-size: small;
    }
} 





 