:root {
  --text-color: #fff;
  --btn-color: #D52F2B;
  --primary-color: #236D9D;
  --link-color: #131212;
  --head-color:#111111;

}
*{
  box-sizing: border-box;
}
body{
  font-family: "open+sans", sans-serif;
  line-height: 1;
  height: 100%;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
}
header{
  background-color: rgba(255, 255, 255, 0.99);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  height: 4.5rem;
}
nav{
  display: flex;
}
aside{
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.hide-on-desktop{
  display: none;
}
.hide-on-desktop a{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}
.line{
  display: none;
}
.container{
  padding: 0;
}
#top-nav{
  display: flex;
  justify-content: space-between;
}
.top-nav-img{
  height: auto;
  margin-left: 20px;
}
.top-nav-link{
  display: flex;
  width:70%
}
.top-nav-link ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.top-nav-link li{
  color: black;
  font-size: .9em;
  font-weight: 550;
}
.top-nav-link li:hover, .top-nav-link li:active{
  color: var(--primary-color);
}
.top-nav-social{
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: space-around;
  font-size: 1.3em;
  color: black;
}
.logo{
  height: 4rem;
  float: right;
}
 .top-nav-social i{
  color: black;
}
i:hover, i:active{
  color: var(--primary-color);
}

a{
  text-decoration: none;
}
#active{
  color: var(--primary-color);
}
main{
  width: 100%;
}

/* VIDEO STYLING */

.container{
  margin: 0;
}
.vid-background{
  position: relative;
  width: 100%;
  height: 40rem;
  overflow: hidden;
}
video{
  height: auto;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.overlay{
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: center;
  top: 75%;
}
#over-vid-btn{
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  color: whitesmoke;
  border-radius: 6px;
  align-items: center;
  font-size: 1.2em;
  width: 25%;
  height: 60px;
}
.over-vid{
  font-weight: 600;
  color: var(--text-color);
  width: 60%;
}
.over-vid span{
  color: var(--primary-color);
  font-weight: 600;
}
.context{
  margin: 0 auto ;
}
.context h1{
  color: var(--head-color);
  font-weight:bold;
  padding-bottom: 0;
  font-size: 3.5rem;
  margin-top:5rem;
  margin-bottom: 5px;
}
.context p{
  margin-top: 1em;
  line-height: 1.6;
  font-size: 1.2em;
  width: 80%;
  margin-left: auto;
  margin-right:auto ;
}
.divider{
  height: 3px;
  border-radius: 7px;
  width: 150px;
  background-color: #D52F2B;
  margin: 0 auto ;
}

/* OWL CAROUSEL STYLING */

#moving{
  /* height:100px; */
  padding: 10px;
  margin-top: 55px;
}
/* .owl-carousel{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.owl-item1{
  /* height: 100 %; */
  padding-left: 5px;
}
.owl-item .owl-item1 img{
  height: 5rem;
  width: 80%;
  margin: auto;
  padding-left:20px;
  padding-right: 20px;
}

/* TOP SERVISES STYLE */

.services{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 80px auto;
}
.service-item{
  display: flex;
  gap: 15px;
  width: 30%;
  margin: 0 20px 0 0;
}
.service-item img{
  width: 30%;
  height: 30%;
}
.service-item p{
  margin: 0;
  width: 100%;
  font-size: 16px;
  word-wrap: break-word;
}
.service-item h3{
  font-weight: 600;
  font-size: 1.3em;
}
.project-talk{
  background-color: #111111;
  height: 15rem;
  display: flex;
  align-items: center;
}
.hello{
  width: 25%;
  padding: 2rem 0;
  margin: 0 auto;
  text-align: center;
}
.hello a{
  color: var(--text-color);
  font-size: 1.3rem;
  padding: 10px 0;
  position: relative;
}
.hello a::after {
  content: ""; 
  display: block; 
  background-color: #fff;
  height: 2px;
  margin: 10px 0 0;
}
.hello a::before{
  content: ""; 
  display: block; 
  background-color: #fff;
  height: 2px;
  margin: 0 0 10px;
  text-align: center;
}
.hello:hover a::before{
  width: 40%;
  position: absolute;
  /* left: 0; */
  top: 15px;
  right:100px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
.hello:hover a::after {
  width: 40%;
  position: absolute;
  margin:10px auto;
  top: 5px;
  right: 100px;
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
}
.hello a:hover{
  color: #bdbaba;
}

/* WHO WE ARE SECTION STYLING */

.team{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  margin: 60px 0 160px;
}
.team-img{
  width: 28%;
  height: 330px;
  position: relative;
  margin: 0 0 40px;
}
.second{
  position: relative;
  top: 6rem;
}

/* LATEST NEWS SECTION STYLING */

#news{
  justify-content: space-evenly;
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.news{
  background-color: white;
  border: .5px solid rgba(143, 140, 140, 0.644);
  width: 29%;
  padding: 0px 0px 10px;
}
.news span{
  position: absolute;
  z-index: 2;
  padding: 0 10px 0;
  text-align: center;
  color: var(--text-color);
  top: 2px;
}
.news span h2{
  font-weight: 600;
  font-size: 60px;
  margin: 0;
}
.news span h5{
  font-size: 12px;
  font-family: 'sans-serif' !important;
  font-weight: 700;
}
.news1 h2{
  padding: 10px 25px;
  margin: 20px 0 10px;
  font-weight: 610;
  font-size: 22px;
  position: relative;
  z-index: 1;
}
.news p{
  padding: 0 25px 25px;
  line-height: 1.5;
  width: 100%;
  word-wrap: break-word;
  margin: 0;
}
.img-sm{
  z-index: 2;
  overflow: hidden;
}
.zoom{
  display: block;
  width:100% ;
  height: 100%;
  z-index: 4;
}
.zoom img{
  height: 18em;
  overflow: hidden;
  width: 100%;
  border-radius: 5px 5px 0px 0;
  transition: height .2s;
}
.zoom img:hover {
  transform: scale(1.1);
}
.news1{
  position: relative;
  z-index: 2;
}




/* SUBSCRIBING TO NEWS LATTER STYLING  */

.subscribe{
  background-color: var(--primary-color);
  height: 15em;
  padding: 30px;
  padding-top: 45px;
  margin-top: 20px;
}
label{
  font-weight: 600;
  color: var(--head-color);
  font-size: 18px;
}
label span{
  color: #D52F2B;
  font-size: 22px;
}
input[type="text"]{
  height: 50px;
  width: 100%;
  padding: 5px;
  margin: 20px auto;
}
input[type="submit"]{
  background-color: var(--btn-color);
  height: 50px;
  width: 120px;
  color: var(--text-color);
  border: none;
  font-weight: 400;
  font-size: 17px;
}

/* THE FOOTER STYLING */

footer{
  background-color: var(--head-color);
  padding: 20px;
  margin-bottom: -1px;
}
#foot{
  color: var(--text-color);
  margin-top: 0.3em;
  font-size: 5rem;
}
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.content h3, h4{
  color: var(--text-color);
}
.footer-social{
  margin-bottom:10px
}
.contact i{
  padding-left: 10px;
  font-size: 2em;
  /* width: 10px; */
  height: 30px;
  color: var(--text-color);
}
a[type="button"]{
  display: flex;
  align-items: center;
  padding:20px 25px;
  justify-content: center;
  color: var(--link-color);
  background-color: var(--text-color);
  margin-bottom: 30px;
  border-radius: 7px;
  font-weight: 550;
  text-align: center;
  font-size: 1.5rem;
}
a[type="button"]:hover{
  background-color: var(--btn-color);
}
hr{
  color: var(--text-color);
  margin: 0;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 90%;
}
.last{
  color: var(--text-color);
  margin-top:30px;
  padding-bottom:30px;
  font-weight: 400;
  font-size: 0.8em;
}
#call{
  color: var(--text-color);
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
#b-email{
  color: var(--text-color);
  font-size: 1.8rem;
  margin-bottom: 18px;
  font-weight: 600;
  margin-top: 5px;
  text-align: center;
}
footer .row{
  margin-top: 5em;
  margin-bottom: 5em;
  padding-left: 4em;
}
.col-12, .col-sm-3 h5{
  padding-left: 5px;
}
.col-12 img{
  height: 4rem;
}
footer .footer-p{
  line-height: 1.5em;
  margin-left: 0;
  word-wrap: break-word;
  color: var(--text-color);
}
.col-sm-3, .col-12 ul{
  list-style: none;
  padding: 0;
  margin-top: 2em;
}
.col-12 li{
  margin-bottom: 0.6em;
  color: var(--text-color);
  padding-left: 8px;
}
#btn-top{
  position: absolute;
  bottom: 100% ;
  right:50%;
}

/* THE MEDIA QUARIES */


/* The media quaries */
/* @media (max-width:){
  .vid-background{
    height: 20rem;
  }
  .overlay{
    top: 20%;
  }
} */
@media (max-width:767px) {
  .top-nav-link{
    position:absolute;
    width: 100%;
  }
  .top-nav-link .open{
    right: 0;
    transition: 0.4s;
    padding-top:10px;
    height: 400px;
  }
  .color{
    background-color: aqua;
    /* transition: 1s; */
  }
  aside{
    justify-content: flex-end;
  }
  .top-nav-link ul{
    display: block;
    list-style: disc;
    padding-left: 16px;
    background-color: aqua;
    position: absolute;
    margin-top: 10px;
    top: 57px;
    right: 800px;
  }
  .top-nav-link li{
    display: flex;
    margin-bottom: 10px;
    height: 40px;
    width: 50%;
    padding-left: 10px;
    align-items: center;
  }
  .top-nav-link li:hover{
    background-color: #555;

  }
  .top-nav-social{
    display: none;
  }
  #top-nav{
    justify-content: space-between;
  }
  .top-nav-img{
    margin-left: 10px;
  }
  .line{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    margin-right: 20px;
  }
  .hide-on-desktop{
    display: flex;
  }
  .vid-background{
    height: 200px;
  }
  .overlay{
    top: 22%;
  }
  #over-vid-btn{
    width: 45%;
    height: 35px;
    font-weight: 300;
    font-size: 12px;
  }
  .context h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1em;
  }
  .divider{
    width: 30%;
  }
  .services{
    display: block;
  }
  .service-item{
    display: block;
    width: 100%;
    margin: 0 auto 10px;
  }
  .service-item p,h3{
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  .service-item img{
    margin: 0 135px;
  }
  .hello{
    width: 50%;
  }
 
  .hello a:hover::before{
    width: 35%;
    position: absolute;
    margin:10px auto;
    top: 6px;
    right: 70px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
  .hello a:hover::after{
    width: 35%;
    position: absolute;
    margin:10px auto;
    top: 6px;
    right: 70px;
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
  }
  .team{
    flex-direction: column;
    justify-content: space-around;
  }
  .team-img{
    width: 87%;
    margin: 20px auto;
  }
  .second{
    top: 0;
  }
  #news{
    display: block;
    width: 100%;
  }
  .news{
    width: auto;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 0;
  }
  .img-sm{
    height: 240px;
  }
  .img-sm img{
    height: 100%;
    width:100%;
  }
  #foot{
    font-size: 3rem;
    text-align: center;
  }
  footer .row{
    padding-left: 9px;
    margin-top: 1rem;
  }
  #call{
    font-size: 1.8rem;
  }
  #b-email{
    font-size: 1.4rem;
  }
}
@media (max-width: 990px) {
.vid-background{
  height: 25rem;
}
#over-vid-btn{
  width: 40%;
}
}
@media(max-width:540px){
  .vid-background{
    height: 250px;
  }
}
@media (max-width:250px){
  #over-vid-btn{
    width:20%
  }
  .context h1{
    font-size: 16px;
  }
}
@media (max-width:290px){
  .vid-background{
    height: 150px;
  }
  #over-vid-btn{
    width:30%;
    font-weight: 100;
    font-size: small;
  }
}