:root {
  --text-color: #fff;
  --btn-color: #d52f2b;
  --primary-color: #236d9d;
  --link-color: #131212;
  --head-color: #111111;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open+Sans", sans-serif;
  line-height: 1;
  height: 100%;
  overflow-y: auto;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Gurajada', sans-serif;
}
header{
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  height: 4.5rem;
  border-bottom: 2px solid #6060601a;
}
nav {
  display: flex;
}
aside {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.hide-on-desktop {
  display: none;
}
.hide-on-desktop a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}
.line {
  display: none;
}
.container {
  padding: 0;
}
#top-nav {
  display: flex;
  justify-content: space-between;
}
.top-nav-img {
  height: auto;
  margin-left: 20px;
}
.top-nav-link {
  display: flex;
  width: 70%;
}
.top-nav-link ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.top-nav-link li {
  color: black;
  font-size: 1em;
  font-weight: 550;
}
.top-nav-link li:hover,
.top-nav-link li:active {
  color: var(--primary-color);
}
.top-nav-social {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: space-around;
  font-size: 1.3em;
  color: black;
}
.logo {
  height: 4rem;
  float: right;
}
.top-nav-social i {
  color: black;
}
i:hover,
i:active {
  color: var(--primary-color);
}

a {
  text-decoration: none;
}
#active {
  color: var(--primary-color);
}
main {
  width: 100%;
}

/* VIDEO STYLING */

.container{
  margin: 0;
}
.vid-container {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 3.5rem;
  overflow: hidden;
}
video {
  /* height: auto; */
  position: absolute;
  width: 100%;
  height: 95vh;
  object-fit: cover;
  top: 0;
  left: 0;
}
.overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: center;
  top: 75%;
}
#over-vid-btn {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  color: whitesmoke;
  border-radius: 6px;
  align-items: center;
  font-size: 1.2em;
  width: 25%;
  height: 50px;
}
.over-vid {
  font-weight: 600;
  color: var(--text-color);
  width: 60%;
}
.over-vid span {
  color: var(--primary-color);
  font-weight: 600;
}
.context{
  margin: 0 auto ;
}
.context h1{
  color: var(--head-color);
  font-weight:bold;
  padding-bottom: 0;
  font-size: 3.5rem;
  margin-top:5rem;
  margin-bottom: 5px;
  text-align: center;
}
.context p {
  margin-top: 1em;
  line-height: 1.6;
  font-size: 1.2em;
  width: 80%;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
}
.divider {
  height: 3px;
  border-radius: 7px;
  width: 150px;
  background-color: #d52f2b;
  margin: 0 auto;
}

/* OWL CAROUSEL STYLING */

#moving{
  /* height:100px; */
  padding: 10px;
  margin-top: 55px;
}
/* .owl-carousel{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.owl-item1{
  /* height: 100 %; */
  padding-left: 5px;
}
.owl-item .owl-item1 img{
  height: 6rem;
  width: 70%;
  margin: auto;
  padding-left:20px;
  padding-right: 20px;
}

/* TOP SERVISES STYLE */

.services{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 80px auto;
}
.service-item{
  display: flex;
  gap: 15px;
  width: 30%;
  margin: 0 20px 20px 0;
}
.service-img{
  /* width: 78px; */
  display: flex;
  justify-content: center;
}
#wd{
  height: 70px;
}
#sd{
  height: 65px;
  width: 110px;
}
#ml{
  width: 78px;
  height: 60px;
}
.service-item img{
  width: 78px;
  height: 70px;
}
.service-item .smaller-img{
  height: 78px;
  width: 78px;
}
.service-item p{
  margin: 0;
  width: 100%;
  font-size: 16px;
  word-wrap: break-word;
}
.service-item h3{
  font-weight: 600;
  font-size: 1.3em;
}
.project-talk{
  background-color: #111111;
  height: 15rem;
  display: flex;
  align-items: center;
}
.hello{
  width: 25%;
  padding: 2rem 0;
  margin: 0 auto;
  text-align: center;
}
.hello a{
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px 0;
  position: relative;
}
.hello a::after {
  content: ""; 
  display: block; 
  background-color: #fff;
  height: 2px;
  margin: 10px 0 0;
}
.hello a::before{
  content: ""; 
  display: block; 
  background-color: #fff;
  height: 2px;
  margin: 0 0 10px;
  text-align: center;
}
.hello:hover a::before{
  width: 40%;
  position: absolute;
  top: 10px;
  right:100px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
.hello:hover a::after {
  width: 40%;
  position: absolute;
  margin:10px auto;
  top: 1px;
  right: 100px;
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
}
.hello a:hover{
  color: #bdbaba;
}

/* WHO WE ARE SECTION STYLING */

.team{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  margin: 60px 0 160px;
}
.team-img{
  width: 28%;
  height: 330px;
  position: relative;
  margin: 0 0 40px;
}
.second{
  position: relative;
  top: 6rem;
}

/* LATEST NEWS SECTION STYLING */

#news{
  justify-content: space-evenly;
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.news {
  background-color: white;
  border: .5px solid rgba(143, 140, 140, 0.644);
  width: 32%;
  padding: 0px 0px 10px;
}
.news span {
  position: absolute;
  z-index: 2;
  padding: 0 10px 0;
  text-align: center;
  color: var(--text-color);
  top: 2px;
}
.news span h2{
  font-weight: 600;
  font-size: 60px;
  margin: 0;
}
.news span h5{
  font-size: 12px;
  font-family: 'sans-serif' !important;
  font-weight: 700;
}
.news1 h2{
  padding: 10px 25px 5px;
  margin: 20px 0 5px;
  font-weight: 610;
  font-size: 22px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.news p{
  padding: 0 10px 15px;
  line-height: 1.5;
  width: 100%;
  font-size: 1em;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0;
}
.img-sm{
  z-index: 2;
  overflow: hidden;
  height: 200px;
}
.zoom{
  display: block;
  width:100% ;
  height: 100%;
  z-index: 4;
}
.zoom img{
  height: 100%;
  overflow: hidden;
  width: 100%;
  border-radius: 5px 5px 0px 0;
  transition: height .2s;
  transition: 0.2s linear;
}
.zoom img:hover {
  transform: scale(1.1);
}
.news1{
  position: relative;
  z-index: 2;
}




/* SUBSCRIBING TO NEWS LATTER STYLING  */

.subscribe{
  background-color: var(--primary-color);
  height: 15em;
  padding: 30px;
  padding-top: 45px;
  margin-top: 20px;
}
label {
  font-weight: 600;
  color: var(--text-color);
  font-size: 18px;
}
label span{
  color: #D52F2B;
  font-size: 22px;
}
input[type="text"]{
  height: 50px;
  width: 100%;
  padding: 5px;
  margin: 20px auto;
}
input[type="text"]:focus{
  border: white 1px solod;
}
input[type="submit"] {
  background-color: var(--btn-color);
  height: 50px;
  width: 120px;
  color: var(--text-color);
  border: none;
  font-weight: 400;
  font-size: 17px;
}

/* THE FOOTER STYLING */

footer{
  background-color: var(--head-color);
  padding: 20px 0px 23px;
  margin-bottom: -1px;
}
#foot {
  color: var(--text-color);
  margin-top: 0.3em;
  font-size: 5rem;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.content h3,
h4 {
  color: var(--text-color);
}
.footer-social {
  display: flex;
  /* widhp[kj                   th: 20%; */
  justify-content: space-between;
  margin-bottom: 10px;
}
.footer-social a{
  border-radius: 50%;
  height: 30px;
}
.contact i {
  font-size: 2em;
  /* width: 10px; */
  height: 30px;
  color: var(--text-color);
}
a[type="button"] {
  display: flex;
  align-items: center;
  padding: 20px 25px;
  justify-content: center;
  color: var(--link-color);
  background-color: var(--text-color);
  margin-bottom: 30px;
  border-radius: 7px;
  font-weight: 550;
  text-align: center;
  font-size: 1.5rem;
  transition: .8s;
}
a[type="button"]:hover {
  background-color: var(--btn-color);
  color:var(--text-color)
}
hr {
  color: var(--text-color);
  margin: 0;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 90%;
}
.last {
  color: var(--text-color);
  margin-top: 30px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 0.8em;
}
#call {
  color: var(--text-color);
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
#b-email {
  color: var(--text-color);
  font-size: 1.8rem;
  margin-bottom: 18px;
  font-weight: 600;
  margin-top: 5px;
  text-align: center;
}
footer .row {
  margin: 5em auto;
  width: 98%;
}
.col-12 h5 {
  padding-left: 50px;
  margin: 0;
  color: var(--text-color);
}
.col-12 img {
  height: 4rem;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}
footer .footer-p{
  line-height: 1.5em;
  margin: 0;
  width: 97%;
  word-wrap: break-word;
  color: var(--text-color);
}
.col-sm-3 ul{
  list-style: none;
  padding: 0 0 0 50px;
  margin-top: 2em;
}
.col-12 li {
  margin-bottom: 0.6em;
  color: var(--text-color);
  padding-left: 8px;
}
#btn-top {
  position: relative;
  top: 20px;
  z-index: 2;
  height: 30px;
  width: 30px;
  margin: 0 auto;
  padding: 4px 0 0;
  background-color: var(--primary-color);
  text-align: center;
}
#btn-top a{
  color: var(--text-color);
  font-size:1.5rem;
  margin:0 auto;
}
#up-arrow{
  font-weight: bold;
}
#up-arrow:hover i:hover{
  color:var(--text-color)
}

/* THE MEDIA QUARIES */

@media (max-width: 768px) {
  header{
    height: 3.5rem;
    margin-bottom: -1px;
  }
  .logo{
    height: 3rem;
  }
  .top-nav-link {
    position: absolute;
    width: 100%;
  }
  .top-nav-link .open {
    left: 0;
    margin-top: -1px;
    transition: 0.4s;
    padding-top: 10px;
    height: 75vh;
  }
  .top-nav-link .open #active{
    color: var(--primary-color);
  }
  aside {
    justify-content: flex-end;
  }
  .top-nav-link ul {
    display: block;
    list-style: disc;
    padding-left: 16px;
    background-color: var(--text-color);
    position: absolute;
    margin-top: 10px;
    top: 55px;
    left: 800px;
    height: 71vh;
    transition: 0.5s;
  }
  .top-nav-link li {
    display: flex;
    margin-bottom: 10px;
    height: 40px;
    width: 50%;
    padding-left: 10px;
    align-items: center;
  }
  .top-nav-link li:hover {
    width: 96%;
    color: var(--text-color);
    background-color: var(--primary-color);
  }
  .top-nav-social {
    display: none;
  }
  #top-nav {
    justify-content: space-between;
    height: 80%;
    padding: 2px 0 0 ;
  }
  .top-nav-img {
    margin-left: 10px;
  }
  .line {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    margin-right: 20px;
  }
  .hide-on-desktop {
    display: flex;
  }
  .vid-container{
    height: 80dvh;
  }
  video{
    height: 75dvh;
  }
  .overlay {
    top: 65%;
    row-gap: 10px;
  }
  .over-vid{
    width: 90%;
    font-size: 1.2em;
  }
  .over-vid span{
    font-weight: 900;
  }
  #over-vid-btn {
    width: 50%;
    height: 25px;
    font-weight: 400;
    font-size: 14px;
  }
  .context h1 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 1.4em;
  }
  .context p{
    width: 96%;
  }
  .divider {
    width: 30%;
  }
  #moving{
    margin-bottom: 50px;
  }
  .owl-item .owl-item1 img{
  height: 8rem;  
  }
  #service-link{
    text-align: center;
    text-decoration: underline;
  }
  .services{
    display: block;
  }
  .service-item{
    display: block;
    width: 100%;
    margin: 0 auto 25px;
  }
  .service-item p,h3{
    text-align: center;
    margin: 0 auto;
  }
  .service-item img{
    width: 120px;
    height: 80px;
  }
  .service-item .smaller-img{
    height: 88px;
    width: 88px;
  }
  #wd{
    height: 78px;
    width: 88px;
  }
  #sd{
    height: 75px;
  }
  #ml{
    width: 80px;
    height: 70px;
  }
  .hello{
    width: 50%;
  }
  .hello a:active::before{
    /* width: 50%; */
    position: absolute;
    transform: rotate(0deg);
  }
  .hello a:active:after{
    /* width: 50%; */
    position: absolute;
    transform: rotate(0deg);
  }
  .team{
    flex-direction: column;
    justify-content: space-around;
  }
  .team-img{
    width: 87%;
    height: 350px;
    margin: 20px auto;
  }
  .second{
    top: 0;
  }
  #news{
    display: block;
    width: 100%;
  }
  .news {
    width: auto;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 0;
  }
  .img-sm{
    height: 240px;
  }
  .img-sm img{
    height: 100%;
    width:100%;
  }
  #foot {
    font-size: 2rem;
    text-align: center;
  }
  footer .row {
    padding-left: 0px;
    margin-top: 0rem;
  }
  .col-sm-3, .col-12 ul{
    margin-top: 1rem;
    padding: 0 0 0 5px;
  }
  .col-sm-3 h5{
    padding: 0 0 0 13px;
  }
  .col-12 img{
    display: block;
    margin: 0 auto;
  }
  footer .footer-p{
    margin: 0 auto;
  }
  #call {
    font-size: 1.6rem;
  }
  #b-email {
    font-size: 1.4rem;
  }
}
@media (max-width: 990px) {
  .vid-background {
    height: 25rem;
  }
  .over-vid h3{
    font-size: 1em;
  }
    .owl-item .owl-item1 img{
    width: 50%;
  }
}
@media (max-width: 540px) {
  .vid-background {
    height: 250px;
  }
  .main-home-text {
    position: absolute;
    left: 40px;
    bottom: 280px;
  }
  .hello a{
    font-size: 0.8rem;
  }
  .hello a:active::before{
    /* width: 35%; */
    position: absolute;
    transform: rotate(0deg);
  }
  .hello a:active::after{
    /* width: 35%; */
    position: absolute;
    transform: rotate(0deg);
  }
}
@media (max-width: 250px) {
  #over-vid-btn {
    width: 20%;
  }
  .context h1 {
    font-size: 16px;
  }
}
@media (max-width: 290px) {
  .vid-background {
    height: 150px;
  }
  #over-vid-btn {
    width: 30%;
    font-weight: 100;
    font-size: small;
  }
}
